<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Admin Login</title>
    <meta name="description" content="slick Login" />
    <meta name="author" content="Webdesigntuts+" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-latest.min.js"
    ></script>
    <script src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
  </head>

  <body>
    <form id="slick-login" action="" method="POST">
      <h1 style="font-size: 2rem; color: white" class="h3 mb-3 fw-normal">
        Go-Work Login
      </h1>
      <label for="email">email</label
      ><input
        type="text"
        name="email"
        class="placeholder"
        placeholder="me@tutsplus.com"
      />
      <label for="password">password</label
      ><input
        type="password"
        name="password"
        class="placeholder"
        placeholder="password"
      />
      <input type="submit" value="Log In" />
      <% if(info.length > 0){ %>
      <div class="alert alert-danger mt-3" role="alert"><%= info %></div>
      <% } %>
    </form>
  </body>
</html>
